<%= form_for @post do |form| %>
  <% if post.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(post.errors.count, "error") %> prohibited this post from being saved:</h2>

      <ul>
      <% post.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :title %>
    <%= form.text_field :title %>
    <%= form.label :type %>
    <%= form.select :type, ["tweet_post","article_post"] %>
  </div>

  <%= form.fields_for :content do |c| %>
    <div class="field">
      <%= c.label :content %>
      <%= c.text_field :text %>
    </div>
  <% end %>

  <%= form.fields_for :image do |i| %>
    <div class="field">
      <%= i.label :image %>
      <%= i.file_field :url %>
    </div>
  <% end %>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>


